/*
	Will likely switch to some sort of css in js solution
*/

/* General */

html {
	background-color: #FFF;
	font-family: 'PT Sans', sans-serif;
}

section {
	width: 80%;
	margin: 40px auto 0;
}

nav {
	background-color: salmon;
	color: #FFF;
}

nav div {
	font-size: 1em;
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
}

h1 {
	color: salmon;
}

a {
	text-decoration: none;
	color: slategray;
}

.nav-item {
	color: #FFF;
	padding: 10px;
	text-decoration: none;
}

.nav-item.active {
	font-weight: bolder;
	border-bottom: 10px solid #FFF;
}

.nav-item:first-of-type {
	padding-left: 0;
}

input {
	box-sizing: border-box;
	outline: none;
	width: 100%;
	padding: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	color: slategray;
	font-size: 2em;
}

ul#list li {
	cursor: pointer;
	margin-bottom: 10px;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .25s;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

ul#list li:hover {
	color: salmon;
}

/* Todolist specific */

form#todoform {
	font-size: 2em;
	margin-bottom: 40px;
}

input#newtodo {
	color: salmon;
	padding: 20px 0;
	border: none;
	border-bottom: 2px solid salmon;
}

/* yuck, TODO: post-css */
input#newtodo::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:salmon;
}
input#newtodo:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:salmon;
   opacity: 1;
}
input#newtodo::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:salmon;
   opacity: 1;
}
input#newtodo:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:salmon;
}
input#newtodo::-ms-input-placeholder { /* Microsoft Edge */
   color:salmon;
}

/* Keyframes */
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
